services:
  db:
    image: postgis/postgis:18-3.6
    platform: linux/amd64
    restart: unless-stopped
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=pitstop_db
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    env_file:
      - path: .env
        required: false
      - path: stack.env  # For Portainer
        required: false
    volumes:
      - ./backend/db_init_scripts:/docker-entrypoint-initdb.d
      - pitstop-data:/var/lib/postgresql
    networks:
      - app_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - db
    restart: unless-stopped
    command: uvicorn app.main:app --host 0.0.0.0
    environment:
      - DATAMALL_ACCOUNT_KEY=${DATAMALL_ACCOUNT_KEY}
      - ONEMAP_BASE_URL=https://www.onemap.gov.sg
      - ONEMAP_EMAIL=${ONEMAP_EMAIL}
      - ONEMAP_PASSWORD=${ONEMAP_PASSWORD}
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=pitstop_db
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    env_file:
      - path: .env
        required: false
      - path: stack.env  # For Portainer
        required: false
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - path: .env
        required: false
      - path: stack.env  # For Portainer
        required: false
    networks:
      - app_network

  nginx:

    build:
      context: ./gateway
      dockerfile: Dockerfile
    platform: linux/amd64
    container_name: nginx_proxy
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge

volumes:
  pitstop-data:
    name: pitstop-data